<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"
    ><img src="images/logo-white.svg" width="150px"
  /></a>
  <button id="help-icon-top">Product Tour</button>
  <!-- <img src="images/help-icon.png " width="30px" /> -->
</nav>
<!-- nav bar -->
