.container-main {
  width: 100%;
  display: flex;
}

.left-controls {
  width: 4%;
  background-color: #33475b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11px;
}

.left-close-icon {
  width: 30px;
  height: 30px;
  border-radius: 150px;
  background-color: #cc3053;
  margin-bottom: 10px;
  padding: 5px 10.13px 5px 8px;
}

.left-next-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 150px;
  border: 0px;
  background-color: #ffffff;
  color: #33475b;
  font-size: 12px;
}

.left-prev-icon {
  width: 30px;
  height: 30px;
  border-radius: 150px;
  border: 0px;
  background-color: #ffffff;
  color: #33475b;
  font-size: 12px;
}

.candidate-profile-bg {
  background-color: #eeeeee;
  font-family: Roboto;
}

.profile-modal-bg {
  background-color: #33475b !important;
}

/*Navigation*/
/* .navigation {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  box-sizing: content-box;
  border-bottom: 7px solid #f67738;
} */

/*Navigation Items*/
/* .navigation-items {
  padding: 12px 0;
  text-align: center;
}

.nav-item {
  color: #33475b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
} */

.profile-final-header {
  /*font-family: Roboto;*/
  font-size: 14px;
  /*height: 19px;*/
  line-height: 1.21;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 21px;
}

.profile-final {
  justify-content: unset !important;
}

.profile-header-buttons {
  height: 27px;
  padding: 0px 9px;
  object-fit: contain;
  border-radius: 115px;
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  color: #33475b;
}

/*Overview*/
.candidate-initial-new {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  /* padding-top: 5px; */
  object-fit: contain;
  background-color: #e0e4e7;
  font-family: Roboto;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.33;
  color: #9ca3a9;
}

.overview {
  width: auto;
  height: auto;
  background-color: #ffffff;
  margin: 30px !important;
  box-shadow: 0px 4px 6px #0000000d;
  border-radius: 10px;
  overflow: hidden;
}

.overview-details {
  width: 100%;
  margin: 30px 28px 0px 28px !important;
}

.overview-info-shortcuts {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.overview-btn {
  border-radius: 50px;
  padding: 1px 4px;
}

.overview-btn:hover {
  cursor: pointer;
}

.overview-btn-icon {
  margin-right: 5px;
  border-radius: 50%;
}

.overview-btn-icon img {
  width: 8px;
  height: 6px;
  margin-bottom: 12px;
}

.overview-btn-label {
  font-size: 11px;
  color: #33475b;
  opacity: 1;
  margin-right: 9px;
  line-height: 14px;
}

.display-picture {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.display-picture img {
  width: 100%;
  height: 100%;
}

.social-links {
  width: 50%;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.social-links-link {
  width: 26px;
  height: 27px;
  border-radius: 50%;
}

.social-links-link img {
  width: 100%;
  height: 100%;
}

.overview-info-details {
  flex: 100%;
  margin-bottom: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.candidate-name {
  font-size: 24px;
  font-weight: bold;
  color: #33475b;
}

.candidate-contact {
  width: 100%;
  margin: 0;
}

.candidate-phone {
  align-items: center;
}

.candidate-phone img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.candidate-phone span {
  color: #33475b;
  font-size: 11px;
}

.candidate-mail {
  display: flex;
  align-items: center;
}

.candidate-mail img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.candidate-mail span {
  color: #33475b;
  font-size: 11px;
}

.detail__container {
  width: 100%;
  margin: 16px 14px !important;
}

.candidate-detail-container {
  width: 100%;
  margin: 0px 28px !important;
}

.candidate-detail-heading {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 3px;
  color: #33475b;
}

.candidate-detailInfo {
  width: 100%;
}

.detail__left__section {
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.detail__right__section {
  border-top: 1px solid #e5e5e5;
}

.right__section__row {
  border-bottom: 1px solid #e5e5e5;
  margin: auto;
}

.left__section__row {
  border-bottom: 1px solid #e5e5e5;
  margin: auto;
}

.left__section__question {
  font-size: 12px;
  color: #33475b;
  background-color: #f8f8f8;
  height: 42px;
  padding-top: 13px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding-right: 0px !important;
}

.left__section__answer {
  font-size: 14px;
  color: #33475b;
  height: 42px;
  padding-top: 11px;
  overflow: hidden;
  line-height: 25px;
}

.right__section__question {
  font-size: 12px;
  color: #33475b;
  background-color: #f8f8f8;
  height: 42px;
  padding-top: 13px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding-right: 0px !important;
}

.right__section__answer {
  font-size: 14px;
  color: #33475b;
  height: 42px;
  padding-top: 11px;
  border-right: 1px solid #e5e5e5;
  overflow: hidden;
  line-height: 25px;
}

.candidate-detailInfo-column--1 {
  width: 50%;
}

.candidate-detailInfo-column--2 {
  width: 50%;
}

.candidate-company {
  margin-bottom: 14px;
  display: flex;
}

.overview-value {
  color: #33475b;
  font-size: 14px;
}

.candidate-company .overview-label {
  width: 27%;
  color: #9ca3a9;
  font-size: 12px;
}

.candidate-jobTitle {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.candidate-jobTitle .overview-label {
  color: #9ca3a9;
  font-size: 12px;
  width: 37%;
}

.candidate-location {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.candidate-location .overview-btn {
  background-color: rgba(41, 181, 0, 0.1);
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.candidate-location .overview-btn-icon {
  background-color: #29b500;
  width: 13px;
  height: 13px;
  text-align: center;
}

.candidate-location .overview-label {
  width: 27%;
  color: #9ca3a9;
  font-size: 12px;
}

.candidate-location .overview-value {
  margin-right: 10px;
}

.candidate-notice {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.candidate-notice .overview-btn {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.candidate-notice .overview-btn-icon {
  width: 13px;
  height: 13px;
  text-align: center;
}

.candidate-notice .overview-label {
  color: #9ca3a9;
  font-size: 12px;
  width: 37%;
}

.candidate-notice .overview-value {
  margin-right: 10px;
}

.candidate-experience {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.candidate-experience .overview-btn {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.overview-btn-red {
  background-color: rgba(249, 53, 113, 0.1);
}

.overview-btn-green {
  background-color: rgba(41, 181, 0, 0.1);
}

.overview-btn-icon-red {
  background-color: #f93571;
}

.overview-btn-icon-green {
  background-color: #29b500;
}

.candidate-experience .overview-btn-icon {
  width: 13px;
  height: 13px;
  text-align: center;
}

.candidate-experience .overview-label {
  color: #9ca3a9;
  font-size: 12px;
  width: 27%;
}

.candidate-experience .overview-value {
  margin-right: 10px;
}

.candidate-compensation {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.candidate-compensation .overview-btn {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.candidate-compensation .overview-btn-icon {
  width: 13px;
  height: 13px;
  text-align: center;
}

.candidate-compensation .overview-label {
  color: #9ca3a9;
  font-size: 12px;
  width: 37%;
}

.candidate-compensation .overview-value {
  margin-right: 5px;
}

.candidate-hike {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}

.candidate-hike .overview-label {
  color: #9ca3a9;
  font-size: 12px;
  width: 37%;
}

.overview-recruiter-comments {
  width: 100%;
  margin: 0px 28px !important;
  padding: 20px 0;
  border-top: 1px solid #b0bec5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.recruiter-comments--heading {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 3px;
  color: #33475b;
}

.recruiter-comments--body {
  font-size: 14px;
  font-weight: normal;
  margin-right: 5px;
  margin-top: 3px;
  color: #33475b;
}

.overview-actions {
  width: 100%;
  margin: 0px 28px !important;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #b0bec5;
  display: flex;
}

.overview-actions div {
  cursor: pointer;
}

.overview-actions-btn {
  font-size: 11px;
  color: #33475b;
  font-weight: bold;
}

.overview-actions-item {
  height: 36px;
  margin-right: 10px;
  padding: 0px 18px;
  border: 2px solid #b0bec5;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.overview-actions-item img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.overview-actions-item .blue-icon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.overview-actions-item .middle-btn {
  margin-right: 5px;
}

.overview-review {
  width: 100%;
  margin: 0px 28px 28px 28px !important;
  padding-top: 24px;
  /* border-top: 1px solid #B0BEC5; */
}

.overview-review .ReactCollapse--collapse {
  width: 100%;
}

.overview-rating {
  display: flex;
}

.overview-keyskill {
  width: 100%;
  display: flex;
  align-items: center;
}

.keyskill-heading {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 3px;
  color: #33475b;
}

.overview-rating img {
  width: 27.8px;
  height: 27.8px;
}

.overview-options {
  text-align: right;
  display: flex;
  align-items: center;
}

.overview-options-text {
  font-size: 12px;
  color: #33475b;
  align-items: center;
  margin-left: auto;
}

.overview-review-text {
  font-size: 12px;
  color: #33475b;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  border: 1px solid #33475b;
  border-radius: 100px;
  height: 22px;
  padding: 0px 10px;
  margin: 7px 10px 0px 0px;
  color: #33475b;
  font-size: 12px;
}

.more-skill {
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: #33475b;
  padding: 3px 5px;
  margin: 7px 10px 0px 0px;
  border-radius: 50%;
}

.skills-heading {
  font-size: 14px;
  font-weight: bold;
  color: #33475b;
}

/*Litmus Heatmap*/
.litmus-heatmap {
  width: auto;
  background-color: #ffffff;
  margin: 0px 30px 30px 30px !important;
  padding-bottom: 20px;
  box-shadow: 0px 4px 6px #0000000d;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.suggested-questions-heatmap {
  width: auto;
  background-color: #ffffff;
  margin: 0px 0px 0px 0px !important;
  padding-bottom: 20px;
  box-shadow: 0px 4px 6px #0000000d;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.heatmap-header {
  width: 100%;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #b0bec5;
}

.litmus-heatmap-header {
  font-size: 18px;
  font-weight: bold;
  color: #33475b;
}

.heatmap-expertise {
  width: 100%;
}

.expertise {
  color: #33475b;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}

.expertise-btn {
  display: inline-block;
  margin-right: 5px;
  width: 13px;
  height: 13px;
  padding: 2px 6px;
  border-radius: 50%;
}

.yellow-check-button {
  background: #6bc464;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.yellow-check-button img {
  width: 10px;
  height: 9px;
}

.red-cross-button {
  background: #f93571;
  border-radius: 50%;
  width: 20px !important;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.red-cross-button img {
  width: 9px;
  height: 10px;
}

.heatmap-columns {
  margin: 0px 17px 8px 17px !important;
  flex-wrap: unset !important;
}

.heatmap-column-header {
  margin-top: 20px !important;
}

.heatmap-columns--categories {
  width: 18.5%;
  height: -webkit-fit-content;
  border-right: 1px solid #ffffff;
  display: flex;
}

.heatmap-columns--skills {
  display: flex;
  flex: 1;
}

.heatmap-column-header--text {
  color: #33475b;
  font-size: 12px;
  font-weight: bold;
}

.heatmap-header-column--block {
  background-color: #33475b;
  color: #ffffff;
  font-size: 12px;
  height: 36px;
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.heatmap-header-column--blocks {
  color: #ffffff;
  font-size: 12px;
  width: 170px;
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 9.75px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.wrap-column {
  flex-wrap: wrap;
}

.Stronger {
  background-color: #069f00;
}

.Weaker {
  background-color: #f5b900;
}

.AtPar {
  background-color: #7fd300;
}

.Missing {
  background-color: #f93571;
}

.Greyed {
  background-color: #a2a2a2;
}

.blueed {
  background-color: #0091ea;
}

/*Questions*/
.Questions {
  background-color: #ffffff;
  margin: 0px 30px 30px 30px !important;
  box-shadow: 0px 4px 6px #0000000d;
  border-radius: 10px;
  overflow: hidden;
}

.Questions-heading {
  width: 100%;
  padding-left: 28px;
  display: flex;
  justify-content: end;
}
.Questions-heading .lb-collapse {
  text-align: right;
  padding-right: 20px !important;
}

.question-categories {
  width: 100%;
  padding: 10px 0px 0px 5px !important;
}

.screening-questions {
  padding: 3px 0px 15px 0px !important;
  text-align: left;
}

.ques-active {
  border-bottom: 1px solid #b0bec5;
}

.ques-active span {
  font-weight: bold;
}

.screening-questions--heading {
  font-size: 18px;
  color: #33475b;
  cursor: pointer;
  font-weight: bold;
}

.hr-questions-profile {
  padding: 3px 0px 15px 0px !important;
  text-align: left;
}

.hr-questions-profile--heading {
  font-size: 18px;
  color: #33475b;
  cursor: pointer;
  font-weight: bold;
}

.custom-questions {
  padding: 3px 0px 15px 0px !important;
  text-align: left;
}

.custom-questions--heading {
  font-size: 18px;
  color: #33475b;
  cursor: pointer;
  font-weight: bold;
}

.column-definitions {
  width: 98%;
  margin: 0px 28px !important;
  padding-bottom: 0px !important;
}

.column-question {
  display: flex;
  flex-direction: column;
  border-right: 1px solid transparent;
}

.column-question-heading {
  font-size: 13px;
  font-weight: bold;
  color: #33475b;
  margin: 42px 0px 0px 0px !important;
  text-transform: uppercase;
}

.questions {
  font-size: 16px;
  background-color: #f8f8f8;
  padding: 14px 0px 14px 15px;
  margin: 0px 0px 15px 0px;
  color: #33475b;
  border-left: 5px solid #33475b;
  border-right: 1px solid #ffffff;
}

.column-answer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column-answer-heading {
  font-size: 12px;
  font-weight: bold;
  color: #33475b;
  text-transform: uppercase;
  margin-top: 42px;
}

.dangerous-html p {
  display: inline;
  font-size: 16px;
  color: #33475b;
}

.answers {
  font-size: 14px;
  background-color: #eeeeee;
  padding: 13px 0px 13px 20px;
  margin: 0px 0px 15px 0px;
  color: #33475b;
}

/*Candidate History*/
.Candidate-History {
  background-color: #ffffff;
  margin: 0px 30px 30px 30px !important;
  padding-bottom: 30px;
  box-shadow: 0px 4px 6px #0000000d;
  border-radius: 10px;
}

.candidate-history-heading {
  width: 100%;
  padding-left: 30px;
  margin-bottom: 23px;
  border-bottom: 1px solid #b0bec5;
}

/*Status Symbols
.status-symbol--cross{
    background-color: #F02727;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 15px;
}

.status-symbol--cross img{
    width: 7.6px;
    height: 7.6px;
    margin: 2px 4px;
}

.status-symbol--correct{
    background-color: #3B9BFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 15px;
}

.status-symbol--correct img{
    width: 8.08px;
    height: 7.6px;
    margin: 2px 4px;
}
*/

.history-categories {
  width: 100%;
  padding-left: 5px;
}

.candidate-history-interaction {
  display: flex;
  border-bottom: 5px solid #2164f4;
}

.interaction-history--heading {
  font-size: 18px;
  font-weight: bold;
  color: #33475b;
  margin: 10px 0px 10px 10px;
  cursor: pointer;
}

.candidate-history-questions {
  display: flex;
}

.candidate-history-column-definitions {
  background-color: #eeeeee;
  width: 100%;
  margin-left: 30px !important;
  margin-right: 30px !important;
  padding: 8px 15px 8px 15px !important;
  border-bottom: 2px solid #b0bec5;
}

.candidate-history-column-headers {
  font-size: 11px;
  font-weight: bold;
  color: #33475b;
}

.candidate-history-columns {
  width: 100%;
  margin-left: 30px !important;
  margin-right: 30px !important;
  padding: 15px 15px;
}

.candidate-history-columns--data {
  font-size: 14px;
  color: #33475b;
}

.grey-bg {
  background-color: #f8f8f8;
}

/*Resume*/
/* .resume {
  background-color: #ffffff;
  margin: 0px 30px 30px 30px !important;
  box-shadow: 0px 4px 6px #0000000d;
  border-radius: 10px;
}

.resume-heading {
  width: 100%;
  border-bottom: 1px solid #b0bec5;
}

.resume-header {
  padding: 10px 30px 10px 28px !important;
}

.resume-header--heading {
  font-size: 18px;
  font-weight: bold;
  color: #33475b;
}

.resume-controls {
  margin-left: auto;
  margin-right: 30px;
}

.controls {
  display: inline-block;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  padding: 5px;
  border: 1px solid #a9b3bc;
  cursor: pointer;
}

.resume-box {
  padding: 53px 82px 46px 82px !important;
  text-align: center;
} */

.fade-tab {
  opacity: 0.5;
}

.overview-actions-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 11px;
  color: #33475b;
  font-weight: bold;
}

.litmus-heatmap-popup {
  margin: 5px;
}
.litmus-heatmap-popup hr {
  margin: 0;
  padding: 0;
}

.litmus-heatmap-popup-header {
  padding-left: 5px;
  display: flex;
  width: 100%;
}

.litmus-heatmap-popup-header h6 {
  font-weight: bolder;
  padding-top: 3px;
  width: 65%;
}

.litmus-heatmap-popup-header-box {
  float: right;
  width: 35%;
  padding-top: 5px;
  font-size: 0.75rem;
  padding-right: 5px;
}

.litmus-heatmap-popup-header-box span {
  float: right;
  color: white;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid #2164f4;
  margin-top: 6px;
  margin-right: 5px;
  background-color: #2164f4;
}
.litmus-heatmap-popup-header-box div {
  float: right;
}

.litmus-heatmap-popup-body {
  padding: 5px;
  font-weight: bold;
}

#litmus-heatmap-popover {
  max-width: none;
  width: 35%;
}
#accordionEx {
  cursor: pointer;
}
.navbar-dark {
  justify-content: space-between;
}
#accordionCandidateWrapper {
  width: 100%;
  padding-right: 55px;
}
